/*Logo*/
.logo-div {
	/*margin: 91px 0 0 132px;*/
	display: inline-block;
}
.logo {
	font-size: 32px;
	color: #4B647E;
	margin: 67px 0 0 132px;
}
.logo-a {
	color: #4B647E;
}
.logo::before {
	content: "Web";
	font-size: 32px;
	color: #3D37F1;
	/*margin: 91px 10px 0 132px;*/
}
/*navigation*/
.li-div {
	display: inline-block;
}
.nav {
	margin:106px 0 0 700px;
}
.ul {
	display: flex;
	justify-content: space-around;
}
.list {
	margin-right: 18px;
}
.li-a {
	color: #3D37F1;
}
/*section1*/
.container {
	display: flex;
	/*justify-content: center;*/
	/*align-items: top;*/
}
/*.left-box {
	width: 626px;
	height: 527px;
}
.right-box {
	width: 801px;
	height: 526.63px;
}*/
.h1 {
	width: 600px;
	height: 203px;
	font-size: 78px;
	color: #534D4D;
	margin: 285px 0 0 132px;
}
.lil-title {
	width: 602px;
	height: 103px;
	font-size: 22px;
	color: #534D4D;
	margin: 42px 0 0 132px;
}
.radius {
	width: 264px;
	height: 77px;
	background-color: #3D37F1;
	margin: 84px 0 0 132px;
	border-radius: 38px;
	/*position: relative;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.click {
	/*position: absolute;*/
	/*margin: 22px 0 0 43px;*/
	font-size: 23px;
	color: #fff;
}
.wave {
	width: 30px;
	height: 31px;
	margin-right: 10px;
}
.sec-img {
	margin-top: 267px;
}
/*footer*/
.footer {
	margin-top: 275.5px;
}
.h4-div {
	width: 160px;
	height: 24px;
	margin: 0 auto;
}
.h4 {
	font-size: 20px;
	color: #3D37F1;
	margin-top: 87px;
}
.foot-title-div {
	width: 560px;
	height: 60px;
	margin: 0 auto;
}
.foot-title {
	font-size:  40px;
	color: #5A5454;
	margin-top: 17px;
}
.footer-text-div {
	width: 695px;
	height: 95px;
	margin: 0 auto;
}
.footer-text {
	font-size: 18px;
	color: #747474;
	margin-top: 21px;
}
.foot-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 1185px;
	height: 975px;
	justify-content: space-around;
	margin: 0 auto;
}
.box1 {
	width: 370px;
	height: 450px;
	background-color: #FBBA77;
	position: relative;
}
.box2 {
	width: 370px;
	height: 450px;
	background-color: #41EAE3;
	position: relative;
}
.box3 {
	width: 370px;
	height: 450px;
	background-color: #69529F;
	position: relative;
}
.box4 {
	width: 370px;
	height: 450px;
	background-color: #4386D2;
	position: relative;
}
.box5 {
	width: 370px;
	height: 450px;
	background-color: #A5A2F6;
	position: relative;
}
.box6 {
	width: 370px;
	height: 450px;
	background-color: #FF8088;
	position: relative;
}
.foot-img {
	position: absolute;
	top: 88px;
	left: 134px;
}
.h3 {
	font-size: 22px;
	color: #FFFFFF;
	position: absolute;
	top: 244px;
	left: 130px;
}
.p-text {
	font-size: 16px;
	color: #fff;
	width: 328px;
	height: 62px;
	position: absolute;
	top: 285px;
	left: 21px;
}
.read-more {
	width: 131px;
	height: 45px;
	background-color: #fff;
	border-radius: 23px;
	position: relative;
	top: 358px;
	left: 119px;
}
.click-read {
	width: 30px;
	color: #4B647E;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.read-a {
	color: #4B647E;
}